{

    "logging" : {
        "debugLevel"    : "INFO",
        "logFormat"     : "%(asctime)s %(levelname)s - %(message)s",
        "logDateFormat" : "%Y-%m-%d %H:%M:%S" 
    },

    "proxysettings" : {
        "httpProxy"     : "http://your.proxy.com:3128",
        "httpsProxy"    : "https://your.proxy.com:3128",
        "proxyUser"     : "XXXXXX",
        "proxyPassword" : "XXXXX"
    },

    "resources" : {
        "wxImageDir"    : null
    }

    "storage" : {
        "varDir"        : null,
        "contactsDB"    : null
    }

}
